AMOKEYS
build
node_modules
src/grammars/*.ts
generated
web-ext-artifacts
.vscode
native/__pycache__
native/native_main
native_main.spec
.wine-pyinstaller
tags
compiler/*.js
compiler/**/*.js
.*.generated.ts
.tmp/
.DS_Store
.build_cache/
