AMOKEYS
build
build-android*
node_modules
src/grammars/*.ts
generated
web-ext-artifacts
web-ext-artifacts-android
.vscode
native/__pycache__
native/native_main
native_main.spec
.wine-pyinstaller
tags
.*.generated.ts
.*.generated.json
.tmp/
.DS_Store
.build_cache/
yarn-error.log
*.orig
