tabWidth: 4
useTabs: false
semi: false
singleQuote: false
arrowParens: "avoid"
trailingComma: "all"
proseWrap: "never"

# The python script which parses excmds requires that function signatures are on one line.
# Hopefully, no-one will write a function signature more than 10,000 characters long.
overrides:
- files: "excmds.ts"
  options:
    printWidth: 10000
