:root {

    /* Generic */
    --tridactyl-font-family: monospace;
    --tridactyl-font-size: 12px;
    --tridactyl-bg: white;
    --tridactyl-fg: black;

    /* Mode indicator */
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size: var(--tridactyl-font-size);
    --tridactyl-status-bg: var(--tridactyl-bg);
    --tridactyl-status-border: 1px lightgray solid;
    --tridactyl-status-border-radius: 2px;

    /* Hinting */

        /* Hint character tags */
        --tridactyl-hintspan-font-family: sans-serif;
        --tridactyl-hintspan-font-size: var(--tridactyl-font-size);
        --tridactyl-hintspan-font-weight: bold;
        --tridactyl-hintspan-fg: white;
        --tridactyl-hintspan-bg: red;
        --tridactyl-hintspan-border-color: ButtonShadow;
        --tridactyl-hintspan-border-width: 0px;
        --tridactyl-hintspan-border-style: solid;

        /* Element highlights */
        --tridactyl-hint-active-fg: var(--tridactyl-fg);
        --tridactyl-hint-active-bg: #88FF00;
        --tridactyl-hint-active-outline: 1px solid #CC0000;

        --tridactyl-hint-bg: rgba(255, 255, 0, 0.25);
        --tridactyl-hint-outline: 1px solid #8F5902;

    /* :viewsource */
    --tridactyl-vs-bg: var(--tridactyl-bg);
    --tridactyl-vs-fg: var(--tridactyl-fg);
    --tridactyl-vs-font-family: var(--tridactyl-font-family);
}
