:root.TridactylThemeGruvbox-dark-pale {
    /* Gruvbox-dark-pale by Chris Kempson (http://chriskempson.com) */
    --base00: #262626;
    --base01: #3a3a3a;
    --base02: #4e4e4e;
    --base03: #8a8a8a;
    --base04: #949494;
    --base05: #dab997;
    --base06: #d5c4a1;
    --base07: #ebdbb2;
    --base08: #d75f5f;
    --base09: #ff8700;
    --base0A: #ffaf00;
    --base0B: #afaf00;
    --base0C: #85ad85;
    --base0D: #83adad;
    --base0E: #d485ad;
    --base0F: #d65d0e;

    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

:root.TridactylThemeGruvbox-dark-pale #command-line-holder {
    order: 1;
    border: 2px solid var(--base0B);
    color: var(--tridactyl-bg);
}

:root.TridactylThemeGruvbox-dark-pale #tridactyl-input {
    padding: 1rem;
    color: var(--tridactyl-fg);
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
    background: var(--tridactyl-bg);
    padding-left: unset;
    padding: 1rem;
}

:root.TridactylThemeGruvbox-dark-pale #completions table {
    font-size: 0.8rem;
    font-weight: 200;
    border-spacing: 0;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

:root.TridactylThemeGruvbox-dark-pale #completions > div {
    max-height: calc(20 * var(--option-height));
    min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

:root.TridactylThemeGruvbox-dark-pale #completions {
    --option-height: 1.4em;
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    display: inline-block;
    font-size: unset;
    font-weight: 200;
    overflow: hidden;
    width: 100%;
    border-top: unset;
    order: 2;
}

/* Olie doesn't know how CSS inheritance works */
:root.TridactylThemeGruvbox-dark-pale #completions .HistoryCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root.TridactylThemeGruvbox-dark-pale
    #completions
    .HistoryCompletionSource
    table {
    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
:root.TridactylThemeGruvbox-dark-pale #completions .BmarkCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root.TridactylThemeGruvbox-dark-pale #completions table tr td.prefix,
:root.TridactylThemeGruvbox-dark-pale #completions table tr td.privatewindow,
:root.TridactylThemeGruvbox-dark-pale #completions table tr td.container,
:root.TridactylThemeGruvbox-dark-pale #completions table tr td.icon {
    display: none;
}

:root.TridactylThemeGruvbox-dark-pale
    #completions
    .BufferCompletionSource
    table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root.TridactylThemeGruvbox-dark-pale #completions table tr .title {
    width: 50%;
}

:root.TridactylThemeGruvbox-dark-pale #completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root.TridactylThemeGruvbox-dark-pale #completions .sectionHeader {
    background: unset;
    font-weight: 200;
    border-bottom: unset;
    padding: 1rem !important;
    padding-left: unset;
    padding-bottom: 0.2rem;
}

:root.TridactylThemeGruvbox-dark-pale #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

:root.TridactylThemeGruvbox-dark-pale .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--base0B) solid !important;
    font-size: 12pt !important;
    /*font-weight: 200 !important;*/
    padding: 0.8ex !important;
}

:root.TridactylThemeGruvbox-dark-pale #completions .focused {
    background: var(--base0B);
    color: var(--base00);
}

:root.TridactylThemeGruvbox-dark-pale #completions .focused .url {
    background: var(--base0B);
    color: var(--base00);
}
/* #Ocean-normal { */
/*  border-color: green !important; */
/* } */

/* #Ocean-insert { */
/*  border-color: yellow !important; */
/* } */
