:root.TridactylThemeAtelier-sulphurpool {
    /* Atelier-sulphurpool by Chris Kempson (http://chriskempson.com) */
    --base00: #202746;
    --base01: #293256;
    --base02: #5e6687;
    --base03: #6b7394;
    --base04: #898ea4;
    --base05: #979db4;
    --base06: #dfe2f1;
    --base07: #f5f7ff;
    --base08: #c94922;
    --base09: #c76b29;
    --base0A: #c08b30;
    --base0B: #ac9739;
    --base0C: #22a2c9;
    --base0D: #3d8fd1;
    --base0E: #6679cc;
    --base0F: #9c637a;

    --tridactyl-fg: var(--base05);
    --tridactyl-bg: var(--base00);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base00);
    --tridactyl-highlight-box-bg: var(--base0B);
    --tridactyl-highlight-box-fg: var(--base00);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0A) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;
}

:root.TridactylThemeAtelier-sulphurpool #command-line-holder {
    order: 1;
    border: 2px solid var(--base0B);
    color: var(--tridactyl-bg);
}

:root.TridactylThemeAtelier-sulphurpool #tridactyl-input {
    padding: 1rem;
    color: var(--tridactyl-fg);
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
    background: var(--tridactyl-bg);
    padding-left: unset;
    padding: 1rem;
}

:root.TridactylThemeAtelier-sulphurpool #completions table {
    font-size: 0.8rem;
    font-weight: 200;
    border-spacing: 0;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

:root.TridactylThemeAtelier-sulphurpool #completions > div {
    max-height: calc(20 * var(--option-height));
    min-height: calc(10 * var(--option-height));
}

/* COMPLETIONS */

:root.TridactylThemeAtelier-sulphurpool #completions {
    --option-height: 1.4em;
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    display: inline-block;
    font-size: unset;
    font-weight: 200;
    overflow: hidden;
    width: 100%;
    border-top: unset;
    order: 2;
}

/* Olie doesn't know how CSS inheritance works */
:root.TridactylThemeAtelier-sulphurpool #completions .HistoryCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root.TridactylThemeAtelier-sulphurpool
    #completions
    .HistoryCompletionSource
    table {
    width: 100%;
    font-size: 9pt;
    border-spacing: 0;
    table-layout: fixed;
}

/* redundancy 2: redundancy 2: more redundancy */
:root.TridactylThemeAtelier-sulphurpool #completions .BmarkCompletionSource {
    max-height: unset;
    min-height: unset;
}

:root.TridactylThemeAtelier-sulphurpool #completions table tr td.prefix,
:root.TridactylThemeAtelier-sulphurpool #completions table tr td.privatewindow,
:root.TridactylThemeAtelier-sulphurpool #completions table tr td.container,
:root.TridactylThemeAtelier-sulphurpool #completions table tr td.icon {
    display: none;
}

:root.TridactylThemeAtelier-sulphurpool
    #completions
    .BufferCompletionSource
    table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root.TridactylThemeAtelier-sulphurpool #completions table tr .title {
    width: 50%;
}

:root.TridactylThemeAtelier-sulphurpool #completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root.TridactylThemeAtelier-sulphurpool #completions .sectionHeader {
    background: unset;
    font-weight: 200;
    border-bottom: unset;
    padding: 1rem !important;
    padding-left: unset;
    padding-bottom: 0.2rem;
}

:root.TridactylThemeAtelier-sulphurpool #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

:root.TridactylThemeAtelier-sulphurpool .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--base0B) solid !important;
    font-size: 12pt !important;
    /*font-weight: 200 !important;*/
    padding: 0.8ex !important;
}

:root.TridactylThemeAtelier-sulphurpool #completions .focused {
    background: var(--base0B);
    color: var(--base00);
}

:root.TridactylThemeAtelier-sulphurpool #completions .focused .url {
    background: var(--base0B);
    color: var(--base00);
}
/* #Ocean-normal { */
/*  border-color: green !important; */
/* } */

/* #Ocean-insert { */
/*  border-color: yellow !important; */
/* } */
