<!doctype html>
<html class="minimal no-js scroller">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{model.name}} | {{project.name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/content.js"></script>
    <script src="/help.js"></script>
    <link rel="stylesheet" href="/static/css/content.css">
    <link rel="stylesheet" href="/static/css/hint.css">
    <link rel="stylesheet" href="/static/css/viewsource.css">
    <link rel="stylesheet" href="/static/typedoc/assets/css/main.css">
</head>
<body>

<nav class="tsd-navigation secondary scroller">
    <ul>
        {{#each toc.children}}
            {{> toc}}
        {{/each}}
    </ul>
</nav>

<div class="container container-main scroller">
    <div class="content-wrap">
        {{#if model.readme}}
                <div class="tsd-panel tsd-typography">
                        {{#markdown}}{{{model.readme}}}{{/markdown}}
                </div>
        {{/if}}

        {{{contents}}}
    </div>
</div>

</body>
</html>
