/* Adapted from https://css-tricks.com/snippets/css/star-wars-crawl-text/ */
body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

* {
    text-align: center !important;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    transform: perspective(400px) rotateX(20deg);
    text-align: justify;
}

.crawl {
    position: relative;
    top: 300px;
    animation: crawl 180s linear;
}

@keyframes crawl {
    0% {
        top: 300px;
    }
    100% {
        top: -50000px;
    }
}
