#cmdline_iframe {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 2147483647 !important;
    width: 100% !important;
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
}

.TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    font-family: monospace !important;
    background: white !important;
    border: 1.5px lightgray solid !important;
    border-radius: 2px !important;
    font-size: 12px !important;
    padding: 0.25ex !important;
    right: 2px !important;
    bottom: 2px !important;
    z-index: 2147483646 !important; /* this is one less than the command line so that it is hidden by it */
    line-height: initial !important; /* cleanslate doesn't seem to set this correctly */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

@media print {
    .TridactylStatusIndicator {
        display: none;
    }
}
