#TridactylViewsourceElement {
    position: absolute !important;
    /* This is the z-index of hint.css and content.css -1 */
    z-index: 2147483646 !important;
    top: 0px !important;
    font-family: monospace !important;
    background: white !important;
    white-space: pre !important;
    min-width: 100% !important;
    min-height: 100% !important;
    margin: 0px !important;
}

#TridactylViewsourceElement.dark {
    background: #111 !important;
    color: #fff !important;
}
