@import url("../themes/default/default.css");

#TridactylViewsourceElement {
    position: absolute !important;
    /* This is the z-index of hint.css and content.css -1 */
    z-index: 2147483646 !important;
    top: 0px !important;
    background: var(--tridactyl-vs-bg) !important;
    color: var(--tridactyl-vs-fg) !important;
    font-family: var(--tridactyl-font-family) !important;
    white-space: pre !important;
    min-width: 100% !important;
    min-height: 100% !important;
    margin: 0px !important;
}
