:root {
    --tridactyl-bg: black;
    --tridactyl-fg: lightgreen;
    --tridactyl-scrollbar-color: #131 var(--tridactyl-fg);
}

:root.TridactylOwnNamespace {
    scrollbar-color: var(--tridactyl-scrollbar-color);
    scrollbar-width: thin;
}

:root #completions .sectionHeader {
    display: none;
}

:root #tridactyl-colon::before {
    content: "] ";
}

:root #completions .focused,
:root #completions .focused .url {
    background: var(--tridactyl-bg);
    text-decoration: underline;
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    opacity: 0.9;
}

/* Delete to hide element highlighting */
span.TridactylHint {
    background-color: var(--tridactyl-hintspan-bg) !important;
}
