:root.TridactylThemeQuake {
    --tridactyl-bg: black;
    --tridactyl-fg: lightgreen;
    --tridactyl-scrollbar-color: #131 var(--tridactyl-fg);
}

:root.TridactylThemeQuake #completions .sectionHeader {
    display: none;
}

:root.TridactylThemeQuake #tridactyl-colon::before {
    content: "] ";
}

:root.TridactylThemeQuake #completions .focused,
:root.TridactylThemeQuake #completions .focused .url {
    background: var(--tridactyl-bg);
    text-decoration: underline;
}

:root.TridactylThemeQuake #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    opacity: 0.9;
}
