body {
  overflow: hidden;
  margin: 0;
}

input {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

#rainbow {
  background: linear-gradient(0deg, rgba(217,26,18,0.70) 15%, rgba(225,51,0,0.70) 15%, rgba(255, 127, 20, 0.70) 16%, rgba(242, 171, 3, 0.70) 32%, rgba(235, 192, 0, 0.70) 32%, rgba(250, 222, 0, 0.70) 33%, rgba(239, 255, 3, 0.70) 48%, rgba(86, 252, 2, 0.70) 49%, rgba(82, 255, 1, 0.70) 66%, rgba(74, 222, 126, 0.70) 67%, rgba(59, 170, 242, 0.70) 67%, rgba(59, 170, 242, 0.70) 84%, rgba(115, 55, 247, 0.70) 84%, rgba(107, 64, 242, 0.70) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

#title {
  font-weight: bold;
  font-size: 1em;
}

.whimsy {
  width: 36px;
  height: 36px;
}

/* Toggle Button. */

#toggle {
  top: 8px;
  right: 4px;
  position: absolute;
  margin: 0 1em;
  text-decoration: underline;
  border-radius: 1em;
  background: transparent linear-gradient(0deg, rgb(255, 162, 0), rgba(189, 122, 6, 0.66));
}

/* Annoying animation. */

@keyframes wobbling {
  50% {
    transform: translateY(-13px);
  }

  100% {
    transform: translateY(0px);
  }
}

.wobbling {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;

  animation-name: wobbling;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
