body {
  overflow: hidden;
  margin: 0;
}

input {
  width: 100%;
  padding: 0;
  font-family: "monospace", "Courier New";
  font-size: 9pt;
  line-height: 1.5;
  color: black;
  border: unset;
  /* we currently have a border from the completions */
  /* border-top: solid 1px lightgray; */
  padding-left: 0.5ex;
}

.hidden {
  display: none
}

.focused {
  background: darkgrey;
  color: white;
}

/* COMPLETIONS */

#completions {
  --option-height: 1.4em;
  background: white;
  color: black;
  display: inline-block;
  font-size: 10pt;
  font-family: "monospace";
  overflow: hidden;
  width: 100%;
  border-top: 0.5px solid grey;
}

#completions .BufferCompletionSource {
  max-height: calc(20 * var(--option-height));
  min-height: calc(10 * var(--option-height));
}

#completions img {
  display: inline;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

#completions .sectionHeader {
  background: linear-gradient(lightgrey, #ddd, lightgrey);
  font-weight: bold;
  border-bottom: 0.5px solid grey;
  padding-left: 0.5ex;
}

#completions .sectionHeader, #completions .option {
  height: --option-height;
  line-height: --option-height;
}

/* #completions, but I can't be bothered to write it a bunch of times */
.url, a.url, a.url:link, a.url:visited {
  color: #1f9947;
  left: 50%;
  overflow: hidden;
  margin-left: 10px;
  position: absolute;
  text-decoration: none;
  /* Without this the last URL flows over onto a second line if it's long enough */
  white-space: pre;
}

/* Hide the URLs if the screen is small */
@media all and (max-width: 500px) {
    .url, a.url, a.url:link, a.url:visited {
        display: none;
    }
}

a.url:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.BufferCompletionOption span {
  white-space: pre;
  margin: 0 .5em;
}
