body {
  overflow: hidden;
  margin: 0;
}

input {
  width: 100%;
  padding: 0;
  font-family: "monospace", "Courier New";
  font-size: 10pt;
  color: black;
  border: unset;
  /* we currently have a border from the completions */
  /* border-top: solid 1px lightgray; */
  padding-left: 0.5ex;
}

img {
    height: 1em;
    width: 1em;
}

#completions {
  background: white;
  color: black;
  display: inline-block;
  font-size: 10pt;
  height: auto;
  /* line-height: 1.5em; */
  font-family: "monospace", "Courier New";
  overflow: hidden;
  white-space: pre;
  width: 100%;
  z-index: 9998;
  border-top: 1px solid lightgray;
}

.url, a.url, a.url:link, a.url:visited {
  background: white;
  color: #d0ffd0 !important;
  display: inline;
  left: 50%;
  overflow: hidden;
  padding: 0 2px;
  position: absolute;
  text-decoration: none !important;
  z-index: 9999;
}

/* Hide the URLs if the screen is small */
@media all and (max-width: 980px) {
    .url, a.url, a.url:link, a.url:visited {
        display: none;
    }
}

a.url:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
