#cmdline_iframe {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 2147483647 !important;
    width: 100% !important;
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
}
