:root.TridactylThemeDark span.TridactylHint {
    color: white;
    background-color: #204e8a;
}

:root.TridactylThemeDark .TridactylHintElem, :root.TridactylThemeDark .TridactylHintActive {
    color: #333 !important;
}

:root.TridactylThemeDark .TridactylHintElem {
    background-color: rgba(13, 31, 54, 0.25);
    outline: 1px solid #204e8a;
}

:root.TridactylThemeDark .TridactylHintActive {
    background-color: #88FF00;
    outline: 1px solid #000;
}
