span.TridactylHint {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-color: ButtonShadow;
    border-width: 0px;
    min-width: .75em;
    border-style: solid;
    padding: 0 1pt;
    text-align: center;
    z-index: 2147483647;
}

.TridactylHintElem, .TridactylHintActive {
    color: black !important;
    animation: none;
    transition: unset;
}

.TridactylHintElem { background-color: yellow;  }
.TridactylHintActive { background-color: #88FF00; }
