span.TridactylHint {
    position: absolute;
    font-family: monospace;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-color: ButtonShadow;
    border-width: 0px;
    border-style: solid;
    padding: 0px 1px 0px 1px;
    z-index: 2147483647;
}

.TridactylHintElem { background-color: yellow;  color: black; }
.TridactylHintActive { background-color: #88FF00; color: black; }
