span.TridactylHint {
    position: absolute;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-color: ButtonShadow;
    border-width: 0px;
    min-width: .75em;
    border-style: solid;
    padding: 0 1pt;
    text-align: center;
    z-index: 2147483647;
}

.TridactylHintElem, .TridactylHintActive {
    color: black !important;
    animation: none;
    transition: unset;
}

.TridactylHintElem {
    background-color: rgba(255, 255, 0, 0.25);
    outline: 1px solid #8F5902;
}

.TridactylHintActive {
    background-color: #88FF00;
    outline: 1px solid #CC0000;
}

div.TridactylHintHost {
    position: static !important;
}
