@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Move this file to %appdata%/Mozilla/[your-profile]/chrome/userChrome.css 
 * Currently, it reduces the amount of padding around the UI and moves the tab
 * and navigation bar to the same line.
 *
 * If you're not on Windows, you can find your profile folder on
 * about:support 
 *
 * Borrowed from https://www.reddit.com/r/firefox/comments/66q7jn/whats_in_your_userchromecss/ and https://www.reddit.com/r/firefox/comments/6rp0yv/can_we_have_a_big_userchromecss_thread/
 *
 * This file is a work in progress.
 *
 * Any information on where to find documentation on valid properties we can edit here would be appreciated.
 *
 */

#nav-bar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#main-window[sizemode="maximized"] #TabsToolbar {
    /* 3 icons */
    /*padding-left:680px !important;*/
    /* 2 icons */
    padding-left:655px !important;
    margin-right:-35px !important;
    padding-top:1px !important;
    position: relative !important;
    border: none !important;}

#main-window[sizemode="maximized"] .tabbrowser-tab:not([pinned]) {
    min-width: 0px !important;}


/*URL bar width and heigth*/
#main-window[sizemode="maximized"] #urlbar-container {
    width: 550px !important;
    margin-top: 4px !important;}

#main-window[sizemode="maximized"] #nav-bar {
    top: 3px !important;
    position: fixed !important;    
    background: none !important;
    height: 20px !important;
    border: 0px !important;}

/*Location of buttons*/
#main-window[sizemode="maximized"] #downloads-button, #home-button {
    margin-top: 4px !important;
    position: fixed !important;}

#main-window[sizemode="maximized"] #PanelUI-button {
    position: relative !important;
    bottom:9px !important;}

/*Removal of black bottom 1px line*/
#navigator-toolbox::after {
    display: none !important;}

/*Location of URLbar dropdown*/
#main-window[sizemode="maximized"] #PopupAutoCompleteRichResult {
    margin-top: 17px;}

/*Private Browsing icon visible*/
#main-window[sizemode="maximized"][privatebrowsingmode=temporary] #private-browsing-indicator-titlebar > .private-browsing-indicator {
    z-index: 1;}
