:root #completions .sectionHeader {
    display: none;
}

:root #tridactyl-colon::before {
    content: "] ";
}

:root #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 0% !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
}

/* Delete to hide element highlighting */
span.TridactylHint {
    background-color: var(--tridactyl-hintspan-bg) !important;
}
